<%# style in _form_search.scss %>
<form action="#" class="form-search rounded border border-secondary py-2 px-3 mb-3" data-toggle-target="searchBar">
  <label class="search-magnifierLabel" for="search-input" id="search-label">
    <svg width="20" height="20" viewBox="0 0 20 20" data-toggle-target="magnifier">
      <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
      </path>
    </svg>
  </label>
  <input type="search" class="form-control border-0" id="search-input" data-action="keypress->search#reset  search#search" name="notes"
  placeholder="Search all notes by title or content" data-algolia-id="<%= ENV["ALGOLIA_SEARCH_APP_ID"]%>"
  data-algolia-search-key="<%= ENV["ALGOLIA_SEARCH_API_KEY"]%>" data-search-target="searchBar">
  <button type="reset" title="Clear the query" class="search-reset" data-action=search#reset>
    <svg width="20" height="20" viewBox="0 0 20 20">
      <path d="M10 10l5.09-5.09L10 10l5.09 5.09L10 10zm0 0L4.91 4.91 10 10l-5.09 5.09L10 10z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
      </path>
    </svg>
  </button>
</form>
