<%= turbo_frame_tag dom_id(@note) do %>
  <div class= "card card-body" style="margin-left: <%= @note.depth * 20%>px">
    <%= render 'form', note: @note %>
    <%= link_to "Cancel", @note %>
  </div>
<% end %>
